@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Zen+Tokyo+Zoo&display=swap');

* { margin:0; padding:0; box-sizing: border-box;}

body{
   height: 100vh;
   width: 100%;
   background-color: black;
   font-family: "Nanum Brush Script", cursive;
}

.header{
   padding: 20px;
   color: white;
   border-bottom: 2px solid white;
}

.col-8{
   border-left: 2px solid white;
   padding-left: 60px;
   font-size: 82px;
   text-align: center;
}

.col-4{
   font-size: 20px;
   text-align: start;
}

.main-body{
   justify-content: center;
   align-items: center;
   display: flex;
}

.main-body>a{
   padding: 20px;
   margin-bottom: 40px;
   width: 200px;
   height: auto;
   border-radius: 0;
   border: 2px solid white;
   background-color: black;
   color: white;
   text-align: center;
   text-decoration: none;
   font-size: 30px;
}

.heading{
   margin-top: 50px;
}

.heading>h1{
   font-family: "Nanum Brush Script", cursive;
   text-align: center;
   font-size: 170px;
   color: white;
}

.main-body>a:hover{
   background-color: white;
   color: black !important;
}

.marquee-container {
   width: 100%;
   height: 260px;
   overflow: hidden;
   margin-top: 30px;
 }

 .marquee {
   width: 400%; 
   animation: marquee-scroll 17s linear infinite;
 }

 .marquee img {
   flex: 0 0 auto;
   height: 200px;
   max-width: 100%;
   width: 250px;
   padding: 0 20px 0 20px;
 }

 @keyframes marquee-scroll {
   0% {
     transform: translateX(28%);
   }
   100% {
     transform: translateX(-100%);
   }
 }

 .marquee-container-2 {
   width: 100%;
   height: 240px;
   overflow: hidden;
 }

 .marquee-2 {
   width: 400%; 
   animation: marquee-scroll-2 17s linear infinite;
 }

 .marquee-2 img {
   flex: 0 0 auto;
   height: 200px;
   max-width: 100%;
   width: 250px;
   padding: 0 20px 0 20px;
 }

 @keyframes marquee-scroll-2 {
   0% {
     transform: translateX(-100%);
   }
   100% {
     transform: translateX(30%); /* Updated to end at the start */
   }
 }

